body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 60%;
  border: solid 1px black;
  margin: 3px;
  cursor: pointer;
}

.products > .cards > .card >  img  {
  width: 90%;
  min-height: 65%;
  padding: 10px;
}

.card-info {
  border-top: 1px solid black;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 5px;
  line-height: 22px;
  height: 100%;
}

.checked {
  color: orange;
}

p {
  margin: 0;
}

.single-product {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60%;
  border: solid 1px black;
  align-items: center;
  padding: 5px 10px;
}

.single-product > img {
  max-width: 20%;
  max-height: 60%;  
}
